*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #7a0404;
  padding: 0 10px;
}
.container{
  max-width: 500px;
  width: 100%;
  background-color: white;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 5px 5px 5px #abab96;
}
.container .title{
  border: 1px solid black;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #771f23;
  text-align: center;
}
.container .form{
  width: 100%;
}
.container .form .input_field{
  margin-bottom: 15px;
  display: flex;;
  align-items: center;

}
.container .form .input_field label{
  width: 45%;
  margin-right: 10px;
  font-size: 15px;
}
.container .form .input_field .input,
.container .form .input_field .textarea{
  width: 100%;
  border: 1px solid #7a0404;
  border-radius: 3px;
  font-size: 15px;
  padding: 8px 10px;
  transition: all 0.3s ease;
  outline: none;
}
.container .form .input_field .input:focus
{
  border: 2px solid #340507;
}
.container .form .input_field .textarea{
  resize: none;
}
.container .form .input_field p{
  font-size: 15px;
  color: #150809;
}
.container .form .input_field .check{
  width: 15px;
  height: 15px;
  position:relative;
  display: block;
  cursor: pointer;
}
.container .form .input_field .btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #678814;
  color: white;
  cursor:pointer;
  border-radius: 3px;
  border: 1px solid;
  margin-top: 2px;
}
.container .form .input_field:last-child{
  margin-bottom: 0;
}
